.card-carousel-container {
  min-height: 45vh;
}

#cards-container {
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

[class*="icon"] {
  height: 100px;
  width: 50px;
  color: gray;
}
