@import "src/styles/Variables";

.img-link-container {
  cursor: pointer;
}

div.card {
  box-shadow: 10px 15px 5px 5px #e6e3e3;
  height: 95%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
}

div.img {
  height: 130px;
}
