.card-carousel-container {
  width: 95%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.cards-container {
  width: 100vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

[class*="icon"] {
  height: 100px;
  width: 50px;
  color: gray;
}
