.card-carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards-container {
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

[class*="icon"] {
  height: 100px;
  width: 50px;
  color: gray;
}
