@import "../Variables.scss";

.carousel-container {
  width: 95%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.cards-container {
  height: 100%;
  width: 100vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $breakpoint-zero) and (max-width: $breakpoint-sm) {
    align-items: flex-start;
  }
}

.card {
  height: 100%;
}

div {
  .left-container,
  .right-container {
    display: flex;
    align-items: center;
  }
}

[class*="icon"] {
  height: 100px;
  width: 50px;
  color: $chevrons-gray;

  &:hover {
    cursor: pointer;
  }
}
