@import "src/scss/Variables";

div.card-details {
  height: 80%;
}

p.title {
  font-size: 1.2em;
  font-weight: 700;

  @media (min-width: $breakpoint-zero) and (max-width: $breakpoint-sm) {
    font-size: 1.3em;
  }
}

p.description {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 0.9em;
  color: rgb(117, 116, 116);

  @media (min-width: $breakpoint-zero) and (max-width: $breakpoint-sm) {
    font-size: 1.1em;
  }
}

ul.list-container {
  list-style-type: square;
  display: flex;
  flex-direction: column;
}

ul.sub-list {
  list-style-type: circle;
  padding-left: 25px;
}

li strong.list-sec-title {
  font-weight: 600;

  font-size: 0.9em;
  @media (min-width: $breakpoint-zero) and (max-width: $breakpoint-sm) {
    font-size: 1em;
  }
}

ul.sub-list li {
  color: rgb(117, 116, 116);
  font-size: 0.8em;
  @media (min-width: $breakpoint-zero) and (max-width: $breakpoint-sm) {
    font-size: 1em;
  }
}
