@import "src/scss/Variables";

div.card {
  min-width: 350px;
  max-width: 350px;
  box-shadow: 10px 15px 5px 5px #e6e3e3;
  background-color: #f8f8f8;
  display: flex;

  @media (min-width: $breakpoint-zero) and (max-width: $breakpoint-xs) {
    min-width: 95%;
    max-width: 95%;
  }
  @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    min-width: min(350px, 95%);
    max-width: 350px;
  }
}
