footer {
  position: sticky;
  bottom: 0;
  height: 100px;
  background-color: transparent;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(245, 245, 245, 1)
  );
}
