@import "../Variables.scss";

.intro-container {
  position: relative;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 75px;

  @media (min-width: $breakpoint-zero) and (max-width: $breakpoint-sm) {
    padding: 5px;
    width: 200px;
  }

  @media (min-width: $breakpoint-sm) {
    width: 400px;
  }
}

.intro-text {
  margin: 0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
