@import "../Variables.scss";

.intro-container {
    position: relative;
    margin-left: auto;
    margin-right: 15px;

    @media (min-width: $breakpoint-zero) and (max-width: $breakpoint-sm) {
        padding: 5px;
        height: 150px;
        width: 200px;
    }

    @media (min-width: $breakpoint-sm) {
        height: 400px;
        width: 400px;
    }
}

.intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}
