@import "../Variables.scss";

.social-links {
  display: flex;
  justify-content: center;
}

.linked-in {
  &-icon {
    height: 100% !important;
  }
  &-link {
    fill: $linked-in-blue;
  }
}

.github-profile {
  &-icon {
    height: 100% !important;
  }
  &-link {
    fill: $github-purple-profile;
  }
}
