@import "../Variables.scss";

.social-links {
  display: flex;
  @media (min-width: $breakpoint-zero) and (max-width: $breakpoint-sm) {
    justify-content: center;
  }
  @media (min-width: $breakpoint-sm) {
    justify-content: flex-end;
  }
}

.linked-in {
  &-icon {
    height: 100% !important;
  }
  &-link {
    fill: $linked-in-blue;
  }
}

.github-profile {
  &-icon {
    height: 100% !important;
  }
  &-link {
    fill: $github-purple-profile;
  }
}
