.sub-section {
  box-sizing: border-box;
  background-color: #415a77;
  font-size: 1.5em;
  padding: 20px;
}

.sub-heading {
  color: white;
  text-align: center;
  font-weight: 800;
}

.p-contents {
  background-color: white;
  color: black;
  margin: 50px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

a {
  margin: 15px;
}
