// colors
$app-black: #000000;
$app-red: #ff0000;
$app-turkey-red: #b00b0b;
$app-blue: #1e00ff;

// breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 320px;
$breakpoint-zero: 0px;
