// colors
$app-black: #000000;
$app-red: #ff0000;
$app-turkey-red: #b00b0b;
$app-blue: #1e00ff;
$github-purple-profile: rgb(71, 0, 146);
$github-gray-project: rgb(116, 116, 116);
$greeting-heart-color: #981319;
$linked-in-blue: rgb(0, 119, 181);
$web-url-light-blue: rgb(151, 212, 243);
$chevrons-gray: gray;

// breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 320px;
$breakpoint-zero: 0px;
